body {
    background-color: rgb(177, 223, 253);
}

h1 {
    color: rgb(125, 78, 253);
    font-family: cursive;
}

h3 {
    color: rgb(138, 97, 250);
    font-size: 20px;
    font-family: cursive;
}

p {
    color: rgb(151, 117, 243);
    font-size: 20px;
    font-family: cursive; 
}

input {
    border: none;
    height: 20px;
    width: 200px;
    border-radius: 10px;
}

label {
    font-size: 20px;
    font-family: cursive;
}

a {
    font-size: 20px;
    color: rgb(3, 3, 202);
    text-decoration: none;
}

img {
    border-radius: 20px;
    border: 2px solid white;
}

img:hover {
    transform: scale(1.1);
}

.nomeVisitante {
    color: blueviolet;
    font-size: 30px;
}

.button {
    height: 40px;
    width: 150px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    border: none;
    background-color: rgb(115, 136, 161);
    cursor: pointer;
}

.button:hover {
    background-color: rgba(112, 10, 112, 0.781);
    color: white;
}